<main class="mainLanding">
  <img class="landing__img1" src="./assets/images/tarjetas-molonas.png" alt="Awesome profile-cards" />
  <h1 class="landing__title">Crea tu tarjeta de visita</h1>
  <p class="landing__text">Crea mejores contactos profesionales de forma fácil y cómoda</p>
 
  <section>
    <article>
      <img src="" alt="" />
      <h3>Diseña</h3>
    </article>
    <article>
      <img src="" alt="" />
      <h3>Rellena</h3>
    </article>
    <article>
      <img src="" alt="" />
      <h3>Comparte</h3>
    </article>
  </section>

  <a href="./create.html" title="Comenzar">Comenzar</a>
</main>
