// fonts
// $fontMain: OpenSans;
// $fontTitle: Merriweather;
// $fontSection: Montserrat;

// colors
$colorBlack: #000000;
$colorDarkGreenBlue: #114e4e;
$colorDirtyBlue: #438792;
$colorHospitalGreen: #a2deaf;
$colorLightKhaki: #f9f4dc;
$colorWhilte: #ffffff;
$colorDullOrange: #e17334;
