.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.small_text {
  color: ;
  opacity: 0.5;
  margin: 0 0 12px;
  font-family: ;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
}

.img_logo {
  width: 103px;
  height: 40px;
}
