.preview {
  background: linear-gradient(to bottom, $colorSilver, $colorPaleGrey);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 457px;

  .card__reset {
    height: 30px;
    padding: 5px 12px;
    border-radius: 15px;
    border: solid 1px $colorWhite;
    background-color: transparent;
    color: $colorGunmetal;
    font-family: $fontMain;
    font-size: 12px;
    text-transform: uppercase;

    .card__icon {
      margin-right: 8px;
    }
  }

  .card__container {
    width: 240px;
    height: 329px;
    margin: 20px 0 0;
    padding: 21px 0 12px;
    border-radius: 2px;
    background-color: $colorWhite;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 10px 0;
    // ¿Hacer variable de este color?

    .card__info {
      font-family: $fontTitle;
      border-left: solid 5px $colorDirtyBlue;
      padding: 0 20px 0 15px;
    }

    .card__name {
      color: $colorDarkGreenBlue;
      font-size: 18px;
      font-weight: bold;
      text-transform: capitalize;
    }

    .card__description {
      color: $colorGunmetal;
      font-size: 16px;
    }
  }

  .card__image {
    background-image: url(../images/profile_card1.png);
    background-size: cover;
    height: 200px;
    margin: 10px 0;
  }

  .socialMedia__menu {
    display: flex;
    flex-direction: row;
    padding: 0 20px 0 20px;

    .socialMedia__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      margin: 0 10px 0 0;
      border-radius: 50%;
      border: solid 2px $colorHospitalGreen;

      &__icon--link {
        color: $colorDarkGreenBlue;
        padding: 10px;
      }
    }
  }
}
