<div class="containerShare js_share">
  <button class="buttonCard uppercase">
    <i class="fa-regular fa-address-card buttonCard__icon"></i>
    Crear tarjeta
  </button>
  <div class="containerDone">
    <h2 class="containerDone__title">La tarjeta ha sido creada</h2>
    <!--Un título por definir número-->
    <a href="" class="containerDone__link"
      >https://awesome-profile-card.com?id=A456DF0001</a
    >
    <button class="buttonShare">
      <i class="fa-brands fa-twitter"></i> Compartir en Twitter
    </button>
  </div>
</div>
