<form action="" class="form">
  <fieldset class="fieldset">
    <legend class="legend uppercase">
      <i class="far fa-object-ungroup legend__icon"></i>
      <span class="legend__text">Diseña</span>
      <i class="fa-light fa-angle-up legend__icon"></i>
    </legend>
    <include src="./form_design.html"></include>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="legend uppercase">
      <i class="fa-light fa-keyboard legend__icon"></i>
      <span class="legend__text">Rellena</span>
      <i class="fa-light fa-angle-up legend__icon"></i>
    </legend>
    <include src="./form_fill.html"></include>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="legend uppercase">
      <i class="fa-solid fa-share-nodes legend__icon"></i>
      <span class="legend__text">Comparte</span>
      <i class="fa-light fa-angle-up legend__icon"></i>
    </legend>
    <include src="./form_share.html"></include>
  </fieldset>
</form>
