<form action="" class="form">
  <fieldset class="fieldset">
    <legend class="legend js_designLegend uppercase" id="designLegend">
      <i class="far fa-object-ungroup legend__icon legend__icon--orange"></i>
      <span class="legend__text">Diseña</span>
      <i
        class="fas fa-angle-up legend__icon legend__icon--arrow js_arrowDesign"
      ></i>
    </legend>
    <include src="./form_design.html"></include>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="legend js_fillLegend uppercase" id="fillLegend">
      <i class="far fa-keyboard legend__icon legend__icon--orange"></i>
      <span class="legend__text">Rellena</span>
      <i
        class="fas fa-angle-up legend__icon legend__icon--arrow js_arrowFill"
      ></i>
    </legend>
    <include src="./form_fill.html"></include>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="legend js_shareLegend uppercase" id="shareLegend">
      <i class="fa-solid fa-share-nodes legend__icon legend__icon--orange"></i>
      <span class="legend__text">Comparte</span>
      <i
        class="fas fa-angle-up legend__icon legend__icon--arrow js_arrowShare"
      ></i>
    </legend>
    <include src="./form_share.html"></include>
  </fieldset>
</form>
