<div class="containerFill">
  <label for="">Nombre completo</label>
  <input name="" type="text" id="" placeholder="P. ej. Sally Jill" />

  <label for="">Puesto</label>
  <input name="" type="text" id="" placeholder="P. ej. Front-end unicorn" />

  <label for="">Imagen de perfil</label>
  <div>
    <!--Div temporal para maquetar estos dos items-->
    <input name="" type="button" id="" />
    <div>Cuadrado</div>
  </div>

  <label for="">E-mail</label>
  <input name="" type="email" id="" placeholder="P. ej. sally-hill@gmail.com" />

  <label for="">Teléfono</label>
  <input name="" type="tel" id="" placeholder="P. ej. 555 55 55 55" />

  <label for="">LinkedIn</label>
  <input
    name=""
    type="text"
    id=""
    placeholder="P. ej. linkedin.com/in/sally.hill"
  />

  <label for="">GitHub</label>
  <input name="" type="text" id="" placeholder="P. ej. @sally-hill" />
</div>
