<div class="container-design">
  <h3>Colores</h3>
  <div class="container-design__options">

    <input name="palette" type="radio" id="palette1" />
    <label for="palette1" 
    class="options__palette 
    palette__sample1--red 
    palette__sample2--blue 
    palette__sample3--yellow"></label>

    <input name="palette" type="radio" id="palette2" />
    <label for="palette2"></label>

    <input name="palette" type="radio" id="palette3" />
    <label for="palette3"></label>
    
  </div>
</div>
