<div class="containerFill js_fill collapsed">
  <label class="label" for="">Nombre completo</label>
  <input
    class="field"
    name=""
    type="text"
    id=""
    placeholder="P. ej. Sally Jill"
  />

  <label class="label" for="">Puesto</label>
  <input
    class="field"
    name=""
    type="text"
    id=""
    placeholder="P. ej. Front-end unicorn"
  />

  <label class="label" for="">Imagen de perfil</label>
  <div class="component">
    <!--Div temporal para maquetar estos dos items-->
    <label class="component__btnAddImage" name="" type="button" id=""
      >Añadir imagen</label
    >
    <div class="component__square"></div>
  </div>

  <label class="label" for="">E-mail</label>
  <input
    class="field"
    name=""
    type="email"
    id=""
    placeholder="P. ej. sally-hill@gmail.com"
  />

  <label class="label" for="">Teléfono</label>
  <input
    class="field"
    name=""
    type="tel"
    id=""
    placeholder="P. ej. 555 55 55 55"
  />

  <label class="label" for="">LinkedIn</label>
  <input
    class="field"
    name=""
    type="text"
    id=""
    placeholder="P. ej. linkedin.com/in/sally.hill"
  />

  <label class="label" for="">GitHub</label>
  <input
    class="field"
    name=""
    type="text"
    id=""
    placeholder="P. ej. @sally-hill"
  />
</div>
