<section class="preview">
  <!--Parte silver-->
  <article>
    <button class="card__reset" href="">
      <i class="card__icon far fa-trash-alt"></i>Reset
    </button>

    <!--Parte blanca-->
    <div class="card__container">
      <!--Datos personales-->
      <div class="card__info">
        <h2 class="card__name">Nombre apellidos</h2>
        <p class="card__description">Front-end developer</p>
      </div>

      <!--Div en vez de img porque la añadiré con css-->
      <div class="card__image"></div>

      <nav class="card__menu">
        <ul class="socialMedia__menu">
          <li class="socialMedia__icon">
            <a
              class="socialMedia__icon--link"
              href=""
              target="_blank"
              title="Phone number"
              ><i class="icon fas fa-mobile-alt"></i>
            </a>
          </li>
          <li class="socialMedia__icon">
            <a
              class="socialMedia__icon--link"
              href=""
              target="_blank"
              title="E-mail address"
              ><i class="icon far fa-envelope"></i>
            </a>
          </li>
          <li class="socialMedia__icon">
            <a
              class="socialMedia__icon--link"
              href=""
              target="_blank"
              title="LinkedIn"
              ><i class="icon fab fa-linkedin-in"></i>
            </a>
          </li>
          <li class="socialMedia__icon">
            <a
              class="socialMedia__icon--link"
              href=""
              target="_blank"
              title="GitHub"
              ><i class="icon fab fa-github-alt"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </article>
</section>
