<section class="preview">
  <!--Parte silver-->
  <article>
    <button class="card__reset js_reset" href="">
      <i class="card__icon far fa-trash-alt"></i>Reset
    </button>

    <!--Parte blanca-->
    <div class="containerCard">
      <!--Datos personales-->
      <div class="cardInfo">
        <h2 class="cardInfo__name js_cardName">Nombre apellidos</h2>
        <p class="cardInfo__description js_cardJob">Front-end developer</p>
      </div>

      <div class="cardImage"></div>

      <nav>
        <ul class="cardMenu">
          <li class="cardMenu__icon">
            <a
              class="cardMenu__link js_cardPhone"
              href=""
              target="_blank"
              title="Phone number"
              ><i class="icon fas fa-mobile-alt"></i>
            </a>
          </li>
          <li class="cardMenu__icon">
            <a
              class="cardMenu__link js_cardEmail"
              href=""
              target="_blank"
              title="E-mail address"
              ><i class="icon far fa-envelope"></i>
            </a>
          </li>
          <li class="cardMenu__icon">
            <a
              class="cardMenu__link js_cardLinkedin"
              href=""
              target="_blank"
              title="LinkedIn"
              ><i class="icon fab fa-linkedin-in"></i>
            </a>
          </li>
          <li class="cardMenu__icon">
            <a
              class="cardMenu__link js_cardGithub"
              href=""
              target="_blank"
              title="GitHub"
              ><i class="icon fab fa-github-alt"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </article>
</section>
